* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  background-color: #f4f5f9;
}
.cont {
  max-width: 1200px;
  margin: 25px auto;
}
.box {
  border: 2px solid #d6bcfa;
  height: 300px;
  border-radius: 10px;
}
h1,
h2 {
  text-align: center;
}

header {
  background-color: #2d6ce1;
  padding: 15px 0;
  color: white;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
li {
  align-items: center;
  flex: 0 1 32%;
  margin-bottom: 30px;
  padding: 15px;
  box-shadow: 1px 1px 12px 1px black;
}
.card {
  display: inline-block;
  align-items: center;
  text-align: start;
}
img {
  border-radius: 50%;
  margin-right: 15px;
}
h2 {
  font-size: 20px;
}
button {
  background-color: #bfcdf3;
  color: #082cf8;
  border: none;
  padding: 10px;
  width: 60%;
  border-radius: 5px;
}
a {
  text-align: center;
}
